@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


html {
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

.linkClass {
    @apply leading-16 font-semibold text-xs sm:text-sm rtl:sm:text-base dark:hover:text-orange-400 hover:text-green-500 hover:-translate-y-1 transition-all duration-200 ease-linear;
}

.input-style {
    @apply font-normal rounded-full shadow-md block w-full py-2 px-4 2xl:py-2.5 lg:px-6 text-gray-800 dark:text-slate-300 bg-slate-300/50 dark:bg-slate-900/50 placeholder:text-gray-500 dark:placeholder:text-gray-500 placeholder:text-sm placeholder:font-normal placeholder:italic focus:outline-2 focus:outline-slate-600 border-2 border-slate-400 dark:focus:outline-slate-200 dark:border-slate-600;
}

.textarea-style {
    @apply font-normal rounded-xl shadow-md block w-full py-2 px-4 2xl:py-2.5 lg:px-6 text-gray-800 dark:text-slate-200 bg-slate-300/50 dark:bg-slate-900/50 placeholder:text-gray-500 dark:placeholder:text-gray-500 placeholder:text-sm placeholder:font-normal placeholder:italic focus:outline-2 focus:outline-slate-600 border-2 border-slate-400 dark:focus:outline-slate-200 dark:border-slate-600;
}

.button-style {
    @apply flex justify-center items-center gap-1.5 text-xs md:text-sm w-fit min-w-20 px-4 py-2 font-semibold text-white bg-gradient-to-r from-green-500 to-green-900 dark:from-orange-400 dark:to-orange-700 rounded-full transform transition-transform duration-300 hover:scale-95 cursor-pointer disabled:hover:scale-100 disabled:opacity-70 disabled:cursor-default shadow-md shadow-slate-500;
}

.custom-gradient {
    @apply bg-gradient-to-l from-green-400 via-green-900 to-green-600 dark:from-slate-500 dark:via-slate-300 dark:to-slate-700
}

.auth-link-style {
    @apply flex justify-start items-center gap-x-2 text-xs sm:text-sm dark:hover:text-orange-400 hover:text-green-500 cursor-pointer text-nowrap;
}

.them-button-style {
    @apply flex justify-center items-center p-1.5 sm:p-2 md:p-2.5 rounded-full text-black dark:text-white bg-slate-300 dark:bg-slate-700 dark:hover:text-orange-400 hover:text-green-500;
}

@layer utilities {
    .animate-spin-slow {
        animation: spin 6s linear infinite;
    }
}


@font-face {
    font-family: vazirmatn;
    src: url(/public/fonts/vazirmatn/Vazirmatn-Medium.woff2);
}
@font-face {
    font-family: GeomerricArabic;
    src: url(/public/fonts/URWGeometricArabic-Bold.ttf);
}

@theme {
    --font-vazirmatn: vazirmatn, 'mono';
    --font-GeomerricArabic: GeomerricArabic, 'mono';
}